@charset "UTF-8"

/*font-family: 'Montserrat', sans-serif;*/

/*
couleur du site :
bleu foncé  : #2c3e50
bleu clair  : #3498db
rouge foncé : #c0392b
rouge clair : #e74c3c
vert foncé  : #27ae60
vert clair  : #27ae60
jaune foncé : #f39c12
jaune clair : #f1c40f
violet foncé: #8e44ad
violet clair: #9b59b6
https://flatuicolors.com/palette/defo

discord color :
blanc                    : #ffffff
greyple                  : #ecf0f1
dark, but not black      : #2C2F33
*/

/*css general*/
body, html {
  padding 0;
  margin 0;
}

body {
  background-color: #2C2F33;
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ecf0f1;
}

a:checked {
  text-decoration: none;
  color: transparent;
}
/*end general*/

/* changement de bootstrap */
.container-fluid {
  padding: 0;
}

.carousel-indicators {
  cursor: pointer;
}
/*changement de bootstrap*/

/* about */
.about {
  height: 500px;
  width: 950px;
}

.about-phone {
  display: none;
}

@media (max-width: 1000px)
{
  .about
  {
    display: none;
  }
  .about-phone {
    display: inherit;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.btn-slide-1:hover {
  background: linear-gradient(to right, #2C2F33, transparent);
}

.btn-slide-2:hover {
  background: linear-gradient(to right, transparent, #2C2F33);
}

.carousel-inner {
  height: 500px;
  width: 950px;
}

.carousel-item img {
  height: 500px;
  width: 950px;
  margin: 0 auto;
}
/*end about*/

/* banner */
.banner {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.ban {
  height: 300px;
}

.ban img {
  width: 100%;
  max-width: 100%;
  position: inherit;
}

.inner-banner {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color: #ffffff;
  font-size: 32px;
  text-shadow: 1px 1px 20px #000000;
}

.btn-custom {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #27ae60;
  color: #ffffff;
  text-align: center;

}

.btn-custom:hover {
  background-color: #2C2F33;
  border-color: #27ae60;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.carousel1 {
  text-align: center;
}
/*end banner*/

/* header */
.header{
  background-color: #e74c3c;
  height: 60px;
  line-height: 60px;
}

.logo {
  color: #ecf0f1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  transition: padding-left 0.15s;

  border-style: solid;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 0;
  border-top-width: 0;
  border-right-width: 2px;
  border-left-width: 0;
  border-bottom-width: 0;
  border-color: #2C2F33;
}

.logo:hover {
  padding-left: 50px;
}

.menu {
  float: right;
  padding-right: 50px;
}

.menu a {
  color: #ecf0f1;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;

  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.menu a:hover {
  color: #ffffff;
  border-color: #2C2F33;
  border-width: 2px;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-top-style: none;
}
/*end header*/

/* footer/join */
.footer .discord {
  padding-top: 10%;
  padding-bottom: 10%;
}

.article-discord {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.article-discord p {
  text-align: justify;
}
.btn-custom-header-secret{
  background-color: #ecf0f1;
  color: #2C2F33;
  border-radius: 0;
}

.btn-custom-header-secret:hover {
  background-color: #2C2F33;
  border-color: #2C2F33;
  color: #ecf0f1;
  border-radius: 0;
}

.div-custom-header-secret {
  color: #2C2F33;
  background-color: #2C2F33;
  border-radius: 0;
}

.a-custom-header-secret {
  color: #2C2F33;
  background-color: #2C2F33;
}

.a-custom-header-secret:hover {
  color: #ffffff;
  background-color: #2C2F33;
}
/*end footer/join*/

/*form */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-pack-top {
  position: absolute;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-pack-middle {
  position: absolute;
  margin-bottom: -1px;
  border-radius: 0;
}

.form-pack-bottom {
  position: absolute;
  margin-top: -1px;
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#error {
  border-style: dotted;
  border-color: #9b59b6;
  border-top: ;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  color: #9b59b6;
  margin-top: 20px;
  padding-left: 5px;
  text-indent: 1px;
  text-transform: uppercase;
  text-align: center;
}

#error a {
  color: #27ae60;
}
/*end form*/

/*information profil*/
.information a {
  margin: 10px;
}

.information-edition {
  margin: 0;
}
/*en information profil*/
